<div class="container" *ngIf="cliente">
  <h1>Detalhes do Cliente</h1>
  <app-back-button></app-back-button>
  <br />
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Olá, {{ cliente.nome }}</h5>
      <p class="card-text">Idade: {{ cliente.idade }}</p>
      <p class="card-text">Email: {{ cliente.email }}</p>
      <p class="card-text">Número da Conta: {{ cliente.numeroConta }}</p>
      <button class="botao" (click)="toggleVisibility()">
        {{ mostrarDetalhes ? "Ocultar Detalhes" : "Exibir Detalhes" }}
      </button>
      <div *ngIf="mostrarDetalhes">
        <h5 class="card-title">Saldo: R$ {{ cliente.saldo }}</h5>
        <h5 class="card-title">Transações:</h5>
        <ul class="list-group">
          <li
            *ngFor="let transacao of cliente.transacoes"
            class="list-group-item"
          >
            {{ transacao.tipoTransacao }} de R$ {{ transacao.valor }} em
            {{ transacao.createdAt | date : "dd/MM/yyyy HH:mm" }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div *ngIf="error" class="alert alert-danger">{{ error }}</div>
